In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Top Ranked Real Movies Dataset.csv')
df=pd.DataFrame(data)
df.columns

Index(['Unnamed: 0', 'Movie Name', 'Year of Release', 'Watch Time',
       'Movie Rating', 'Meatscore of movie', 'Votes', 'Gross', 'Description'],
      dtype='object')

In [3]:
df.drop(columns=['Unnamed: 0'], inplace=True)

In [4]:
df.isnull().any()

Movie Name            False
Year of Release       False
Watch Time            False
Movie Rating          False
Meatscore of movie     True
Votes                 False
Gross                  True
Description           False
dtype: bool

In [5]:
df['Meatscore of movie'].fillna(df['Meatscore of movie'].median(), inplace=True)

C:\Users\store\AppData\Local\Temp\ipykernel_2984\1314718101.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Meatscore of movie'].fillna(df['Meatscore of movie'].median(), inplace=True)

In [6]:
df['Year of Release'] = df['Year of Release'].str.replace("-", "", regex=False)

In [7]:
df.loc[df['Movie Name'].duplicated(keep=False), 'Movie Name']=(
df['Movie Name'] + " (" + df['Year of Release'].astype(str) + ")")

In [8]:

df['Year of Release'] = pd.to_numeric(df['Year of Release'].str.extract(r'(\d{4})')[0], errors='coerce').astype('Int64')

In [9]:
df['Watch Time']=df['Watch Time'].str.replace(' min', '', regex=False).astype('Int64')

In [10]:
df['Watch Time']

0       164
1       153
2       142
3       175
4       152
       ...
997     118
998      83
999      86
1000    125
1001    169
Name: Watch Time, Length: 1002, dtype: Int64

In [11]:
df['Votes']=df['Votes'].str.replace(',', '', regex=False).astype('Int64')

In [12]:
df = df[~df['Gross'].astype(str).str.startswith('#')]

In [13]:
df['Gross'].dropna(inplace=True)

In [14]:
df.dropna(subset=['Gross'], inplace=True)
df['Gross'].dtype

dtype('O')

In [15]:
df['Gross'] = df['Gross'].replace('[\$,M]', '', regex=True).astype('float')
df['Gross'] = df['Gross'] * 1_000_000
df['Gross'] = df['Gross'].astype('int64')

<>:1: SyntaxWarning: invalid escape sequence '\$'
<>:1: SyntaxWarning: invalid escape sequence '\$'
C:\Users\store\AppData\Local\Temp\ipykernel_2984\2884029287.py:1: SyntaxWarning: invalid escape sequence '\$'
  df['Gross'] = df['Gross'].replace('[\$,M]', '', regex=True).astype('float')

In [16]:
df['Meatscore of movie']=df['Meatscore of movie'].astype('Int64')
df

,Movie Name,Year of Release,Watch Time,Movie Rating,Meatscore of movie,Votes,Gross,Description
2,The Shawshank Redemption,1994,142,9.3,81,2559534,28340000,Two imprisoned men bond over a number of years...
3,The Godfather,1972,175,9.2,100,1761949,134970000,The aging patriarch of an organized crime dyna...
4,The Dark Knight,2008,152,9.1,84,2519388,534860000,When the menace known as the Joker wreaks havo...
5,The Lord of the Rings: The Return of the King,2003,201,9.0,94,1762714,377850000,Gandalf and Aragorn lead the World of Men agai...
6,Schindler's List,1993,195,9.0,94,1305269,96900000,"In German-occupied Poland during World War II,..."
...,...,...,...,...,...,...,...,...
993,Peeping Tom,1960,101,7.6,79,34484,80000,"A young man murders women, using a movie camer..."
994,Les yeux sans visage,1960,90,7.6,90,30733,50000,A surgeon causes an accident which leaves his ...
997,From Here to Eternity,1953,118,7.6,85,46214,30500000,"At a U.S. Army base in 1941 Hawaii, a private ..."
998,Snow White and the Seven Dwarfs,1937,83,7.6,95,194055,184930000,Exiled into the dangerous forest by her wicked...
1001,Taylor Swift: The Eras Tour,2023,169,8.2,83,17000,261600000,Designed as a tribute to Swift's discography a...

In [17]:
df.to_csv('Cleaned_Top_Ranked_Real_Movies_Dataset.csv', index=False)