In [9]:
import pandas as pd
from sqlalchemy import create_engine
import pyodbc

In [4]:
df = pd.read_csv("Cleaned_Top_Ranked_Real_Movies_Dataset.csv")

In [5]:
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Meatscore of movie,Votes,Gross,Description,Decade
0,The Shawshank Redemption,1994,142,9.3,81,2559534,28340000,Two imprisoned men bond over a number of years...,1990
1,The Godfather,1972,175,9.2,100,1761949,134970000,The aging patriarch of an organized crime dyna...,1970
2,The Dark Knight,2008,152,9.1,84,2519388,534860000,When the menace known as the Joker wreaks havo...,2000
3,The Lord of the Rings: The Return of the King,2003,201,9.0,94,1762714,377850000,Gandalf and Aragorn lead the World of Men agai...,2000
4,Schindler's List,1993,195,9.0,94,1305269,96900000,"In German-occupied Poland during World War II,...",1990

In [10]:
server = "localhost"
database = "MoviesDB"
connection_string = f"mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes"
engine = create_engine(connection_string)

In [11]:
df.to_sql("Movies", engine, if_exists="replace", index=False)

122